In [1]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [2]:
!wget https://www.dropbox.com/s/kl1exiwla8pmgge/wine_train.csv

--2021-02-08 10:43:11--  https://www.dropbox.com/s/kl1exiwla8pmgge/wine_train.csv
Resolving www.dropbox.com (www.dropbox.com)... 162.125.1.18, 2620:100:6016:18::a27d:112
Connecting to www.dropbox.com (www.dropbox.com)|162.125.1.18|:443... connected.
HTTP request sent, awaiting response... 301 Moved Permanently
Location: /s/raw/kl1exiwla8pmgge/wine_train.csv [following]
--2021-02-08 10:43:11--  https://www.dropbox.com/s/raw/kl1exiwla8pmgge/wine_train.csv
Reusing existing connection to www.dropbox.com:443.
HTTP request sent, awaiting response... 302 Found
Location: https://uca86b7c4e7e58a2a280e719258b.dl.dropboxusercontent.com/cd/0/inline/BIjmKyAL0BDNqPjG3-7mDbIiJGk1gAd4TJlWjQc5004nkwrgDtXUGz0Kk2dbe5jwl0XtNgImT50MahYb5HkXB9bt6CdzpZ91L3cl8i0U9YxDRMT1FwC3KEu16BJuHAqq1VI/file# [following]
--2021-02-08 10:43:12--  https://uca86b7c4e7e58a2a280e719258b.dl.dropboxusercontent.com/cd/0/inline/BIjmKyAL0BDNqPjG3-7mDbIiJGk1gAd4TJlWjQc5004nkwrgDtXUGz0Kk2dbe5jwl0XtNgImT50MahYb5HkXB9bt6CdzpZ91L3cl8i0U9YxDRMT1FwC3KEu16BJuHAqq1VI/file
Resolving uca86b7c4e7e58a2a280e719258b.dl.dropboxusercontent.com (uca86b7c4e7e58a2a280e719258b.dl.dropboxusercontent.com)... 162.125.1.15, 2620:100:6016:15::a27d:10f
Connecting to uca86b7c4e7e58a2a280e719258b.dl.dropboxusercontent.com (uca86b7c4e7e58a2a280e719258b.dl.dropboxusercontent.com)|162.125.1.15|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 198352 (194K) [text/plain]
Saving to: ‘wine_train.csv’

wine_train.csv      100%[===================>] 193.70K  --.-KB/s    in 0.07s

2021-02-08 10:43:13 (2.87 MB/s) - ‘wine_train.csv’ saved [198352/198352]

In [3]:
data=pd.read_csv('wine_train.csv')

In [4]:
data.shape

(3673, 12)

In [5]:
data.isnull().sum()

fixed.acidity           0
volatile.acidity        0
citric.acid             0
residual.sugar          0
chlorides               0
free.sulfur.dioxide     0
total.sulfur.dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [6]:
data['quality'].value_counts()

6    1647
5    1071
7     671
8     143
4     123
3      14
9       4
Name: quality, dtype: int64

In [7]:
n_wines = data.shape[0]

# Number of wines with quality rating equal to  6
normal = data.loc[(data['quality'] == 6)]

# Number of wines with quality rating below 6
bad = data.loc[(data['quality'] < 6)]
# Number of wines with quality rating between 5 to 6
good = data.loc[(data['quality'] > 6)]

In [8]:
data.head()

   fixed.acidity  volatile.acidity  citric.acid  ...  sulphates  alcohol  quality
0            9.0             0.245         0.38  ...       0.35     10.2        6
1            8.2             0.420         0.29  ...       0.32     12.8        7
2            6.4             0.220         0.32  ...       0.55     10.9        8
3            5.0             0.350         0.25  ...       0.40     11.3        6
4            7.4             0.300         0.30  ...       0.45     10.3        6

[5 rows x 12 columns]

In [9]:
data['quality'] = data['quality'].map({3 : 'bad', 4 :'bad', 5: 'bad',
                                      6: 'Normal', 7: 'good', 8: 'good',9: 'good'})

In [10]:
data['quality'].value_counts()

Normal    1647
bad       1208
good       818
Name: quality, dtype: int64

In [11]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

data['quality'] = le.fit_transform(data['quality'])

In [12]:
le.classes_

array(['Normal', 'bad', 'good'], dtype=object)

In [ ]:
data.head()

   fixed.acidity  volatile.acidity  citric.acid  ...  sulphates  alcohol  quality
0            9.0             0.245         0.38  ...       0.35     10.2        0
1            8.2             0.420         0.29  ...       0.32     12.8        2
2            6.4             0.220         0.32  ...       0.55     10.9        2
3            5.0             0.350         0.25  ...       0.40     11.3        0
4            7.4             0.300         0.30  ...       0.45     10.3        0

[5 rows x 12 columns]

In [13]:
x=data.drop(['quality'],axis=1)
y =data['quality']

In [ ]:
x = data.iloc[:,:11]
y = data.iloc[:,11]

# determining the shape of x and y.
print(x.shape)
print(y.shape)

(3673, 11)
(3673,)

In [ ]:
x.shape,y.shape

((3673, 11), (3673,))

In [14]:
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 44)

# determining the shapes of training and testing sets
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(2754, 11)
(2754,)
(919, 11)
(919,)

In [15]:
from sklearn.ensemble import RandomForestClassifier


model = RandomForestClassifier(n_estimators = 200)


model.fit(x_train, y_train)


y_pred = model.predict(x_test)

# i want output in below format
     id     taste
      1      bad
      2      good
      3       bad
      ..      ...
      ...       ...
      ...       ...

In [16]:
preds=le.inverse_transform(y_pred)

datatocsv=pd.DataFrame({'id':range(1,len(preds)+1),'taste':preds})

datatocsv.to_csv('prediction.csv',index=False,sep=',')

In [ ]:
export_csv = datatocsv.to_csv (r'pandaresult.csv', index = None, header=True,sep=',')

In [ ]:
print(datatocsv)

      id   taste
0      1     bad
1      2  Normal
2      3     bad
3      4    good
4      5  Normal
..   ...     ...
914  915  Normal
915  916     bad
916  917    good
917  918  Normal
918  919     bad

[919 rows x 2 columns]

In [17]:
df=pd.read_csv('/content/prediction.csv')
print(df)

      id   taste
0      1     bad
1      2  Normal
2      3     bad
3      4    good
4      5  Normal
..   ...     ...
914  915  Normal
915  916     bad
916  917    good
917  918  Normal
918  919     bad

[919 rows x 2 columns]

In [ ]:
#for i ,quality in enumerate(le.inverse_transform(model.predict(x_test))):
  #print("{} {}".format(i+1,quality))

In [18]:
df.head()

   id   taste
0   1     bad
1   2  Normal
2   3     bad
3   4    good
4   5  Normal